*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    background:#fffefe;
}

#top{
    width:100%;
    height:48px;
    background:#252525;
}

#top-content{
    width:80%;
    height:48px;
    margin:auto;
}

#top-left{
    width:60%;
    float:left;
    color:#BDA873;
    line-height:48px;
    text-transform:uppercase;
}

#top-right{
    width:40%;
    height:48px;
    float:right;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

#top-right a{
    color:#BDA873;
    text-decoration:none;
    height:48px;
    line-height:48px;
    padding:0 20px;
    border-left:1px solid #3a3a3a;
}

#top-right .cart{
    width:75px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
    padding:0;
    border-right:1px solid #3a3a3a;
}
#banner{
    width:100%;
    background:#fffefe;
    border-bottom:1px solid #eee;
}
#banner-content{
    width:80%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
#logo img{
    height:70px;
    display:block;
}
#menu{
    margin-left:auto;
}
#menu ul{
    list-style:none;
    display:flex;
    align-items:center;
    gap:45px;
}
#menu ul li{
    position:relative;
}
#menu ul li a{
    text-decoration:none;
    color:black;
    font-size:14px;
    font-weight:bold;
    letter-spacing:1px;
    display:block;
    padding:25px 0;
}
#menu ul ul{
    display:none;
    position:absolute;
    top:100%;
    left:50%;
    transform:translateX(-50%);
    min-width:180px;
    background:white;
    border:1px solid #ccc;  
    border-radius:6px;  
    padding:8px 0;
}
#menu ul li:hover > ul{
    display:block;
}
#menu ul ul li a{
    color:#222;
    padding:12px 18px;
    display:block;
    text-align:center;   
}
#menu ul ul li a:hover{
    background:#b59e75;
    color:white;
}
.line{
    width:100%;
    height:1px;
    background:#ccc;
}

.breadcrumb{
    width:1200px;
    margin:35px auto 10px auto;
    font-size:15px;
    color:#777;
}
.breadcrumb a{
    text-decoration:none;
    color:#777;
}
.breadcrumb a:hover{
    color:#c9a66b;
}
.breadcrumb span{
    color:#f82323;
    font-weight:bold;
}

.product{
    width:1200px;
    margin:60px auto;
    display:flex;
    clear:both;
}

.left{
    width:55%;
}

.right{
    width:45%;
    padding:20px 50px;
}
.brand{
    margin-bottom:12px;
    font-size:16px;
}
.status{
    margin-bottom:25px;
    font-size:16px;
}
.status span{
    color:green;
    font-weight:bold;
}

#main-img{
    width:80%;
    border: 1px solid #b0aeae
}
.thumb-list{
    margin-top:15px;
}

.thumb{
    width:110px;
    margin-right:10px;
    border:2px solid #ddd;
    cursor:pointer;
    gap: 30px;
}

.thumb.active{
    border:2px solid #c9a66b;
}

.right h1{
    font-size:32px;
    margin-bottom:20px;
}

.price{
    font-size:32px;
    color:#f83909;
    font-weight:bold;
    margin-bottom:20px;
}

.desc{
    line-height:30px;
    margin-bottom:25px;
}

.quantity{
    margin-bottom:25px;
}

.quantity button{
    width: 48px;
    height:48px;
    border:none;
    cursor:pointer;
}

.quantity input{
    width:60px;
    height:40px;
    text-align:center;
}

.buy{
    width:75%;
    height:55px;
    border:none;
    background:#f4b13e;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.buy:hover{
    background:#fa9806;
}
.policy-box{
    margin-top:25px;
    line-height:35px;
    color:#3c3c3c;
    font-size:17px;
}
.hotline{
    margin-top:20px;
    font-size:18px;
}
.hotline span{
    color:#000000;
    font-weight:bold;
}

#info{
    width:1200px;
    margin:70px auto;
}
.title-box{
    display:flex;
    border-bottom:1px solid #ddd;
}
.red-box{
    background:rgb(249, 41, 41);
    color:white;
    padding:18px 35px;
    font-size:16px;
    font-weight:bold;
    border-radius: 10px;
}
.product-text{
    margin:30px 0;
    font-size:17px;
    line-height:35px;
}
table{
    width:75%;
    border-collapse:collapse;
}
table td{
    border:1px solid #ddd;
    padding:25px;
    font-size:15px;
}
table td:first-child{
    width:35%;
}


#footer{
    width:100%;
    background:#1f1f1f;
    padding-top:60px;
    color:white;
    clear:both;
}

#footer-content{
    width:85%;
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    gap:30px;
    padding-bottom:50px;
}

.logo-box{
    flex:1.5;
}

.footer-box{
    flex:1;
    line-height:30px;
}

.logo{
    color:#c9a66b;
    font-size:35px;
    margin-bottom:25px;
}

.footer-box h3{
    color:#c9a66b;
    margin-bottom:25px;
}

.footer-box ul{
    list-style:none;
}

.footer-box a{
    color:#dcdcdc;
    text-decoration:none;
}

.footer-box a:hover{
    color:#c9a66b;
    padding-left:5px;
}

.slogan{
    color:#dcdcdc;
    line-height:24px;
    margin-bottom:30px;
}

.info{
    margin-bottom:20px;
}
#related-product{
    width:1200px;
    margin:60px auto;
}
#related-product h2{
    margin-bottom:30px;
    font-size:30px;
}
.related-list{
    display:flex;
    justify-content:space-between;
}
.related-box{
    width:23%;
    text-align:center;
    border:1px solid #ddd;
    padding:20px;
    cursor:pointer;
}
.related-box img{
    width:100%;
    height:250px;
}
.related-box h3{
    margin:15px 0;
}
.related-box p{
    color:#fc2424;
    font-weight:bold;
}
.related-box:hover{
    box-shadow:0 0 10px #ddd;
}