*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: Arial;
}
#top{
    width: 100%; 
	height: 48px; 
	background-color: #252525; 
}
#top-content{
    width: 80%; 
	height: 48px;
	margin: 0px auto;
}
#top-left{
    color: #BDA873;
	width: 60%; 
	height: 48px; 
	float: left; 
	line-height: 48px;
    text-transform: uppercase; 
}
#top-right{
	width:40%;
	height:48px;
	float:right;
	line-height:48px;
	text-align:right;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}
#top-right a{
	color: #BDA873; 
	text-decoration: none;
    padding: 0 20px;
    display: inline-block;
    height: 100%;
    border-left: 1px solid #3a3a3a; 
    border-right: 1px solid #3a3a3a;
    margin-left: -1px;
}
#top-right a:hover {
    color: #ff3333; 
}
.cart{
    width:70px;
    text-align:center;
    font-size:18px;
    white-space:nowrap;
}
#top-right .cart{
    width:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
    padding:0;
}
#banner{
    width:100%;
    background:white;
    border-bottom:1px solid #eee;
}
#banner-content{
    width:80%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
#logo img{
    height:70px;
    display:block;
}
#menu{
    margin-left:auto;
}
#menu ul{
    list-style:none;
    display:flex;
    align-items:center;
    gap:45px;
}
#menu ul li{
    position:relative;
}
#menu ul li a{
    text-decoration:none;
    color:black;
    font-size:14px;
    font-weight:bold;
    letter-spacing:1px;
    display:block;
    padding:25px 0;
}
#menu ul ul{
    display:none;
    position:absolute;
    top:100%;
    left:50%;
    transform:translateX(-50%);
    min-width:180px;
    background:white;
    border:1px solid #ccc;  
    border-radius:6px;  
    padding:8px 0;
}
#menu ul li:hover > ul{
    display:block;
}
#menu ul ul li a{
    color:#222;
    padding:12px 18px;
    display:block;
    text-align:center;   
}
#menu ul ul li a:hover{
    background:#b59e75;
    color:white;
}
#banner-img{
    width:100%;
    height:570px;
    overflow:hidden;
}
#banner-img img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}
.buy{
    width:150px;
    height:45px;
    border:none;
    background:#c9a66b;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    margin-top:15px;
}
.buy:hover{
    background:#b08d57;
}
.ads{
    height: 156px; 
    width: 100%; 
    margin-top: 40px; 
    display: flex; 
    gap: 40px;
}
#footer {
    width: 100%;
    background: #1f1f1f;
    padding-top: 60px;
    color: white;
    clear: both; 
    display: block;
}
#footer-content {
    width: 85%;     
    max-width: 1200px; 
    margin: 0 auto;  
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 50px;
}
.logo-box {
    flex: 1.5;
}
.footer-box {
    flex: 1;
    line-height: 30px;
}
.logo {
    color: #c9a66b;
    font-size: 35px; 
    margin-bottom: 25px;
}
.footer-box h3 {
    color: #c9a66b;
    margin-bottom: 25px;
    font-size: 20px;
}
.footer-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-box ul li {
    margin-bottom: 12px;
}
.footer-box a {
    color: #dcdcdc;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
.footer-box a:hover {
    color: #c9a66b;
    padding-left: 5px;
}
.info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #dcdcdc;
}
.slogan{
    color:#dcdcdc;
    font-size:18px;
    line-height:24px;
    margin-bottom:30px;
    max-width:280px;
}
.info i {
    display: none; 
}
.info span {
    font-size: 16px;
}
#quick-contact-bottom {
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 7.5%; 
    min-height: 50px;
    clear: both;
}
.quick-contact-menu {
    display: flex;
    gap: 20px;
}
.quick-contact-menu a {
    color: #dcdcdc;
    text-decoration: none;
    transition: 0.3s;
}
.quick-contact-menu a:hover {
    color: #c9a66b;
}
#service{
    width:100%;
  background:rgb(249, 248, 248);
    display:flex;
    justify-content:space-between; 
    align-items:center;
    padding:25px 40px;
}
#service > div{
    width:23%; 
}
.banner-box{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}
.icon{
    width:70px;
    height:70px;
    border-radius:50%;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:20px;
}
.icon img{
    width:32px;
    height:32px;
    object-fit:contain;
}
.text b{
    display:block;
    font-size:22px;
    color:#f39c12;
    margin-bottom:15px;
    line-height:1.3;
}
.text p{
    font-size:17px;
    color:#222;
    line-height:1.7;
    max-width:250px;
    margin:0 auto;
}
#wrapper{ 
    width:100%;
    min-height:1000px;
    background:white;
}
#container{
    width:80%;
    min-height:300px;
    margin:40px auto;
    margin-top: 40px;

}
#list-cate{
    width:23%;
    height:400px;
    background:rgb(255, 250, 250);
    float:left;
    border:2px solid #c9a66b;
}
#list-cate h1{
    background:#c9a66b;
    color:#fff;
    font-size:18px;
    margin:0;
    text-align:left;
    line-height:50px;
    padding-left:20px;
    font-weight:bold;
}
#list-cate ul{
    margin:0;
    padding:0;
    list-style:none;
}
#list-cate ul li{
    line-height:48px;
    border-bottom:1px dashed #ddd;
}
#list-cate ul li:last-child{
    border-bottom:none;
}
#list-cate ul li a{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 18px;
    text-decoration:none;
    color:#222;
    font-size:15px;
    transition:.3s;
}
#list-cate ul li a::after{
    font-size:18px;
    color:#999;
}
#list-cate ul li a:hover{
    background:#faf7f0;
    color:#c9a66b;
}
#list-cate ul li a:hover::after{
    color:#c9a66b;
}
#hot-product{
    width:73%;
    float:right;
    border:2px solid #c9a66b;
    background:#fdf9f9;
    min-height:400px;
    margin-bottom:40px; 
}
#hot-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid #eee;
}
#hot-title h2{
    background:#c9a66b;
    color:white;
    padding:16px 28px;
    font-size:18px;
    margin:0;
    font-weight:bold;
}
.tabs{
    padding-right:20px;
}
.tabs a{
    text-decoration:none;
    color:#444;
    margin-left:20px;
    font-size:15px;
    transition:0.3s;
}
.tabs a:hover{
    box-shadow: 0px 4px 12px gray;
}
.tabs a.active{
    color:#c9a66b;
    font-weight:bold;
}
.product-list{
    display:flex;
    justify-content:space-between;
    padding: 65px 15px 25px;
}
.product-box{
    width:23%;
    text-align:center;
    border: 1px solid wheat;
    border-radius: 20px;
}
.product-box:hover{
    box-shadow: 0px 4px 12px gray;
}
.product-box img{
    width:100%;
    height:140px;
    object-fit:contain;
}
.product-box h3{
    margin:12px 0 8px;
    font-size:14px;
    color:#222;
    transition:.3s;
}
.product-box p{
    color:#f40f0f;
    font-size:17px;
    font-weight:bold;
}
.product-box:hover h3{
    color:#c9a66b;
}
.cate{
	width: 100%;
	min-height: 450px;
	margin-top: 100px; 
	margin-bottom: 15px;
	border-radius: 20px;
	clear: both;
	display: block;
}
.cate-title{
	width: 300px;
	height: 48px;
	background-color: rgb(207, 210, 2);
	color: #000000;
	font-size: 18px;
	padding-left: 20px;
	margin: 40px 0px;
	line-height: 48px;
	border-radius: 20px;
	text-transform: uppercase;
}
.list-product{
	height: auto;
    display: flex;
    flex-wrap: wrap;
}
.product{
	border: 1px solid #CCC;
	text-align: center;
	line-height: 36px;
	font-size: 18px;
	font-weight: bold;
	padding: 20px;
    background:white;
    border-radius: 20px;
}
.product:hover{
    box-shadow: 0px 4px 12px gray;
}
.product img{
	width: 200px;
	height: 180px;
	object-fit: contain;
}
.name{
	display: block;
	margin-top: 10px;
	line-height: 28px;
	color: black
}
.price{
	display:block;
	color:red;
}


/* Thiết lập CSS cho Mobile */
@media only screen and (max-width:768px){

    #top{
        height:auto;
    }

    #top-content{
        width:95%;
    }

    #top-left{
        width:100%;
        text-align:center;
    }

    #top-right{
        width:100%;
        text-align:center;
        justify-content:center;
    }

    #banner-content{
        width:95%;
        flex-direction:column;
    }

    #menu ul{
        flex-direction:column;
        gap:0;
    }

    #banner-img{
        height:250px;
    }

    #service{
        flex-direction:column;
    }

    #service > div{
        width:100%;
        margin-bottom:20px;
    }

    #list-cate{
        display:none;
    }

    #hot-product{
        width:100%;
        float:none;
    }

    .product-list{
        flex-direction:column;
        align-items:center;
    }

    .product-box{
        width:90%;
        margin-bottom:20px;
    }

    #footer-content{
        flex-direction:column;
    }

    #quick-contact-bottom{
        flex-direction:column;
        text-align:center;
    }

    .quick-contact-menu{
        flex-wrap:wrap;
        justify-content:center;
    }

    .col-s-1 {width:8.33%}
    .col-s-2 {width:16.66%}
    .col-s-3 {width:25%}
    .col-s-4 {width:33.33%}
    .col-s-5 {width:41.66%}
    .col-s-6 {width:50%}
    .col-s-7 {width:58.33%}
    .col-s-8 {width:66.66%}
    .col-s-9 {width:75%}
    .col-s-10 {width:83.33%}
    .col-s-11 {width:91.66%}
    .col-s-12 {width:100%}
}


/* Thiết lập CSS cho Tablet */
@media only screen and (min-width:768px){

    #top-content{
        width:95%;
    }

    #banner-content{
        width:95%;
    }

    #banner-img{
        height:400px;
    }

    #list-cate{
        display:block;
        width:28%;
    }

    #hot-product{
        width:68%;
    }

    .product-list{
        flex-wrap:wrap;
    }

    .product-box{
        width:48%;
        margin-bottom:20px;
    }

    #footer-content{
        flex-wrap:wrap;
    }

    .col-m-1 {width:8.33%}
    .col-m-2 {width:16.66%}
    .col-m-3 {width:25%}
    .col-m-4 {width:33.33%}
    .col-m-5 {width:41.66%}
    .col-m-6 {width:50%}
    .col-m-7 {width:58.33%}
    .col-m-8 {width:66.66%}
    .col-m-9 {width:75%}
    .col-m-10 {width:83.33%}
    .col-m-11 {width:91.66%}
    .col-m-12 {width:100%}
}


/* Thiết lập CSS cho Laptop/PC */
@media only screen and (min-width:1200px){

    #top-content{
        width:80%;
    }

    #banner-content{
        width:80%;
    }

    #list-cate{
        width:23%;
    }

    #hot-product{
        width:73%;
    }

    .product-box{
        width:23%;
    }

    #footer-content{
        width:85%;
        flex-wrap:nowrap;
    }

    .col-x-1 {width:8.33%}
    .col-x-2 {width:16.66%}
    .col-x-3 {width:25%}
    .col-x-4 {width:33.33%}
    .col-x-5 {width:41.66%}
    .col-x-6 {width:50%}
    .col-x-7 {width:58.33%}
    .col-x-8 {width:66.66%}
    .col-x-9 {width:75%}
    .col-x-10 {width:83.33%}
    .col-x-11 {width:91.66%}
    .col-x-12 {width:100%}
}

[class*="col-"]{
    float:left;
    padding:15px;
}

#slide{
	width: 100%;
	height: 100%;
}